fastapi
uvicorn
python-dotenv
pydantic
langchain
langgraph
langchain-community
langchain-core
langchain-groq
langchain-huggingface
sentence-transformers
pypdf
python-multipart
langchain-text-splitters